.wavy-background {
  background: linear-gradient(92.09deg, $color-primary-dark 2.29%, $color-primary 96.79%);
  max-width: 100vw;
  height: 655px;
  &::before{
    content: "";
    display: block;
    position: absolute;
    border-radius: 100% 50%;
    width: 700px;
    height: 80px;
    background-color: white;
    left: 5px;
    top: 620px;
  }
  &::before{
    content: "";
    display: block;
    position: absolute;
    border-radius: 100% 50%;
    width: 700px;
    height: 80px;
    background-color: white;
    right: -5px;
    top: 620px;
  }
}
