// COLORS
$color-primary: #3A80BA;
$color-primary-dark: #255D8B;
$color-footer-dark: #1C3B55;

$color-grey: #7E7E7E;
$color-grey-light: #CCCCCC;

$color-white: #FFFFFF;;
$color-black: #1A1A1A;

$table-bg-primary: #FBFBFB;
$table-bg-secondary: #F1F1F1;

// FONT
$default-font-size: 1.6rem;


// GRID
$grid-width: 118rem;
$gutter-vertical: 2.4rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 1rem;
