// COLORS
$color-primary: #3A80BA;
$color-primary-dark: #255D8B;
$color-footer-dark: #1C3B55;

$color-grey: #7E7E7E;
$color-grey-light: #CCCCCC;

$color-white: #FFFFFF;;
$color-black: #1A1A1A;

// FONT
$default-font-size: 1.6rem;


// GRID
$grid-width: 118rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;
