//margin
.has-margin-top-large {
  margin-top: 2.4rem;
}

.has-margin-top-medium {
  margin-top: 1.6rem;
}

.has-margin-top-small {
  margin-top: 1.2rem;
}

.has-margin-bottom-huge {
  margin-bottom: 4rem;
}

.has-margin-bottom-large {
  margin-bottom: 2.4rem;
}

.has-margin-bottom-medium {
  margin-bottom: 1.6rem;
}

.has-margin-bottom-small {
  margin-bottom: 1.2rem;
}

.has-margin-sides-small {
  margin-left: 3.2rem;
  margin-right: 3.2rem;
}

//padding
.has-padding-top-large {
  padding-top: 2.4rem;
}

.has-padding-top-medium {
  padding-top: 1.4rem;
}

.has-padding-bottom-large {
  padding-bottom: 2.4rem;
}

.has-padding-bottom-medium {
  padding-bottom: 1.4rem;
}

.u-center-text {
  text-align: center !important;
}

.is-bg-transparent {
  background-color: transparent;
}

.flex{
  display: flex;

  &-space-between{
    justify-content: space-between;
  }

  &-center{
    justify-content: center;
  }
}

.is-black {
  color: $color-black;
}

.is-white{
  color: $color-white;
}